::-moz-selection {
    background-color: #ff573d;
    color: #fff
}

::selection {
    background-color: #ff573d;
    color: #fff
}

::-webkit-input-placeholder {
    color: #777777;
    font-weight: 300
}

:-moz-placeholder {
    color: #777777;
    opacity: 1;
    font-weight: 300
}

::-moz-placeholder {
    color: #777777;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #777777;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #777777;
    font-weight: 300
}

body {
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    position: relative
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

select {
    display: block
}

figure {
    margin: 0
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

iframe {
    border: 0
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0
}

.card-panel {
    margin: 0;
    padding: 60px
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
    font-size: 1em;
    line-height: inherit
}

.gray-bg {
    background: #f9f9ff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    color: #15181d;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Lora", serif;
    font-weight: 700;
    color: #15181d
}

h1,
.h1 {
    font-size: 36px
}

h2,
.h2 {
    font-size: 42px
}

h3,
.h3 {
    font-size: 24px
}

h4,
.h4 {
    font-size: 20px
}

h5,
.h5 {
    font-size: 16px
}

h6,
.h6 {
    font-size: 14px
}

td,
th {
    border-radius: 0px
}

.clear::before,
.clear::after {
    content: " ";
    display: table
}

.clear::after {
    clear: both
}

.fz-11 {
    font-size: 11px
}

.fz-12 {
    font-size: 12px
}

.fz-13 {
    font-size: 13px
}

.fz-14 {
    font-size: 14px
}

.fz-15 {
    font-size: 15px
}

.fz-16 {
    font-size: 16px
}

.fz-18 {
    font-size: 18px
}

.fz-30 {
    font-size: 30px
}

.fz-48 {
    font-size: 48px !important
}

.fw100 {
    font-weight: 100
}

.fw300 {
    font-weight: 300
}

.fw400 {
    font-weight: 400 !important
}

.fw500 {
    font-weight: 500
}

.f700 {
    font-weight: 700
}

.fsi {
    font-style: italic
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-60 {
    margin-top: 60px
}

.mt-70 {
    margin-top: 70px
}

.mt-80 {
    margin-top: 80px
}

.mt-100 {
    margin-top: 100px
}

.mt-120 {
    margin-top: 120px
}

.mt-150 {
    margin-top: 150px
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-30 {
    margin-left: 30px
}

.ml-50 {
    margin-left: 50px
}

.mr-15 {
    margin-right: 15px
}

.mr-10 {
    margin-right: 10px
}

.mr-20 {
    margin-right: 20px
}

.mr-30 {
    margin-right: 30px
}

.mr-50 {
    margin-right: 50px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.pt-0 {
    padding-top: 0px
}

.pt-10 {
    padding-top: 10px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-25 {
    padding-top: 25px
}

.pt-30 {
    padding-top: 30px
}

.pt-40 {
    padding-top: 40px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-70 {
    padding-top: 70px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pt-120 {
    padding-top: 120px
}

.pt-150 {
    padding-top: 150px
}

.pb-0 {
    padding-bottom: 0px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-25 {
    padding-bottom: 25px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-120 {
    padding-bottom: 120px
}

.pb-150 {
    padding-bottom: 150px
}

.pr-30 {
    padding-right: 30px
}

.pl-30 {
    padding-left: 30px
}

.pl-90 {
    padding-left: 90px
}

.p-40 {
    padding: 40px
}

.relative {
    position: relative
}

.section-gap {
    padding: 130px 0
}

@media (max-width: 991px) {
    .section-gap {
        padding: 80px 0
    }
}

.section-gap-top {
    padding-top: 130px
}

@media (max-width: 991px) {
    .section-gap-top {
        padding-top: 80px
    }
}

.section-gap-bottom {
    padding-bottom: 130px
}

@media (max-width: 991px) {
    .section-gap-bottom {
        padding-bottom: 80px
    }
}

.section-title {
    text-align: center;
    margin-bottom: 80px
}

@media (max-width: 991px) {
    .section-title {
        margin-bottom: 40px
    }
}

.section-title h2 {
    font-size: 42px;
    line-height: 33px;

}

@media (max-width: 991px) {
    .section-title h2 {
        font-size: 30px;
        line-height: 30px
    }
}

.section-title h2.title {
    font-size: 42px;
    line-height: 33px;
    color: #fff;

}

@media (max-width: 991px) {
    .section-title h2 {
        font-size: 30px;
        line-height: 30px
    }
}

.primary-btn {
    position: relative;
    display: inline-block;
    line-height: 48px;
    color: #fff;
    padding: 0px 35px;
    font-family: "Lora", serif;
    font-size: 15px;
    font-weight: 400;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    background: #ff573d;
    border: 1px solid #ff573d;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.primary-btn i {
    font-size: 11px
}

.primary-btn:hover {
    background: transparent;
    color: #15181d
}

.primary-btn2 {
    position: relative;
    display: inline-block;
    color: #ff573d;
    font-family: "Lora", serif;
    font-size: 14px;
    font-weight: 400;
    outline: none !important;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.primary-btn2:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    height: 1px;
    width: 50px;
    background: #15181d;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.primary-btn2:hover {
    background: transparent;
    color: #15181d
}

.primary-btn2:hover:after {
    background: #ff573d
}

.overlay,
.about_right .video-inner::before {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px
}

.video-play-button {
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 46px 8px 18px 28px
}

.video-play-button:before,
.video-play-button:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    display: block;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%
}

.video-play-button:before {
    z-index: 0;
    -webkit-animation: pulse-border 2000ms ease-out infinite;
    -moz-animation: pulse-border 2000ms ease-out infinite;
    -o-animation: pulse-border 2000ms ease-out infinite;
    animation: pulse-border 2000ms ease-out infinite
}

.video-play-button:after {
    z-index: 1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 16px solid #ffffff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

@-moz-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

@-o-keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1);
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: .7
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -moz-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -ms-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        -o-transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0.1
    }
}

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg")
    }
}

.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-compass:before {
    content: "\f100"
}

.flaticon-desk:before {
    content: "\f101"
}

.flaticon-bathroom:before {
    content: "\f102"
}

.flaticon-beach:before {
    content: "\f103"
}

.sticky-wrapper {
    position: absolute;
    width: 100%;
    height: 80px !important
}

.sticky-wrapper.is-sticky .default-header {
    background: #ffffff;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
/*
.sticky-wrapper.is-sticky .default-header .navbar-brand {
    background-image: url(../img/logo-02.png);
    position: relative;
    width: 100px ;
}
*/

.sticky-wrapper.is-sticky .default-header .navbar-nav a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    font-family: Lora, serif;
    color: rgb(0, 0, 0);
    padding: 32px 20px;
}

.sticky-wrapper.is-sticky .default-header .default-header .navbar .navbar-toggler {
    border: 1px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}
   

.sticky-wrapper.is-sticky .default-header .navbar-nav a:hover,
.navbar-nav 
a:active {
    color: #ff573d
}



.default-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: transparent
}

@media (max-width: 991px) {
    .default-header {
        background: #fff;
    }
}

@media (max-width: 991px) {
    .default-header {
        background: #fff;
    }
}

.default-header .navbar {
    padding: 22px 16px
}

.default-header .navbar .navbar-toggler {
    border: 1px solid rgb(0, 0, 0);
    border-color: #000;
    cursor: pointer;
}

.default-header .navbar .navbar-toggler:focus {
    outline: none
}

.default-header .navbar .navbar-toggler span {
    color: rgb(0, 0, 0)
}

.default-header .dropdown-item {
    font-size: 15px;
    width: auto !important;
    text-align: left
}

@media (max-width: 767px) {
    .default-header .dropdown-item {
        text-align: left;
        padding: 0.25rem
    }
}

.default-header .dropdown-item {
    font-size: 15px;
    width: auto !important;
    text-align: left
}

@media (max-width: 767px) {
    .default-header .dropdown-item {
        text-align: left;
        padding: 0.25rem
    }
}

@media (min-width: 991px) {
    .default-header .dropdown .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in
    }
    .default-header .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible
    }
}

.default-header .dropdown-menu {
    border-radius: 0;
    margin-top: 27px;
    border: none
}

@media (max-width: 991px) {
    .default-header .dropdown-menu {
        margin-top: 0px
    }
}

.default-header .dropdown-menu a {
    padding: 5px 15px
}

@media (max-width: 767px) {
    .default-header .dropdown-menu {
        margin-top: 0px
    }
}

.default-header .dropdown-item:focus,
.default-header .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: transparent
}

.menu-bar {
    cursor: pointer
}

.menu-bar span {
    color: #000;
    font-size: 24px
}

@media (max-width: 992px) {
    .navbar-nav {
        height: auto;
        max-height: 400px;
        overflow-x: hidden
    }
}

.main-menubar {
    display: none !important
}

@media (max-width: 991.98px) {
    .main-menubar {
        display: block !important
    }
}

.navbar-nav a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lora", serif;
    color: rgb(255, 255, 255);
    padding: 32px 20px
}

@media (max-width: 425px) {
    .navbar-nav a {
        color: #000;
    }
}


.navbar-nav a:hover,
.navbar-nav a.active {
    color: #ff573d
}

@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 10px
    }
    .navbar-nav a {
        padding: 0
    }
    .navbar-nav li {
        padding: 10px 0
    }
}

@media (max-width: 991px) {
    .navbar-nav .dropdown .dropdown-menu {
        background: transparent
    }
}

.navbar-nav .dropdown .dropdown-item {
    color: #15181d;
    text-transform: capitalize
}

.navbar-nav .dropdown .dropdown-item:hover {
    color: #ff573d
}

@media (max-width: 991px) {
    .navbar-nav .dropdown .dropdown-item {
        color: rgb(0, 0, 0);
    }
}

.parallax-mirror {
    max-height: 900px
}

@media (max-width: 425px) {
    .home-banner-area {
        max-height: 600px;
    }
}


.home-banner-area .fullscreen {
    height: 900px
}

@media (max-width: 1199.98px) {
    .home-banner-area .fullscreen {
        height: 700px
    }
}


.home-banner-area .banner-content {
    margin-top: 25%
}

@media (max-width: 991px) {
    .home-banner-area .banner-content {
        margin-top: 37%;
        text-align: center
    }
}

@media (max-width: 767px) {
    .home-banner-area .banner-content {
        margin-top: 50%;
        text-align: center
    }
}

.home-banner-area .banner-content h1.heading{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: -50px;
}

.home-banner-area .banner-content p.text{
    color: #fff;
    font-size: 15px;
   
}

@media (max-width: 767px) {
    .home-banner-area .banner-content h1.heading {
        font-size: 40px
    }
}

@media (max-width: 425px) {
    .home-banner-area .banner-content h1.heading {
        font-size: 35px;
        margin-top: 30px;
    }
}

@media (max-width: 991.98px) {
    .home-banner-area .banner-content h1.heading br {
        display: none
    }
}

.home-banner-area .banner-content h4 {
    color: #ff573d
}

.home-banner-area .banner-content .primary-btn {
    background: #fff;
    border: 1px solid #fff;
    color: #15181d;
    margin-top: 40px
}

.home-banner-area .banner-content .primary-btn:hover {
    background: #ff573d;
    color: #fff;
    border: 1px solid #ff573d
}

.banner-area {
    background: url(../img/common-banner.jpg) no-repeat;
    background-size: cover
}

.banner-area .banner-content {
    min-height: 500px
}

@media (max-width: 991px) {
    .banner-area .banner-content {
        padding-top: 100px
    }
}

.banner-area h1 {
    font-size: 50px;
    margin-bottom: 20px
}

@media (max-width: 768px) {
    .banner-area h1 {
        font-size: 35px
    }
}

.banner-area p {
    margin-bottom: 0px;
    color: #fff
}

.top-section-area #imaginary_container {
    background: #fff;
    padding: 24px
}

.top-section-area .stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #eee;
    background-color: #ececec
}

.top-section-area .input-group-addon {
    background-color: #ececec !important;
    border-color: #eee
}

.top-section-area .stylish-input-group button {
    border: 0;
    background: transparent
}

.top-section-area input {
    font-size: 14px
}

.about_area {
    z-index: 1;
    position: relative
}

.about_area .active-brand-carusel {
    margin-top: 70px
}

.about_area .single-brand {
    text-align: center;
    filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .3;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.about_area .single-brand:hover {
    filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    opacity: 1
}

.about_area .about_details {
    padding: 130px 0px
}

.about_area .about_detail {
    padding: 130px 0px
}

@media (max-width: 991px) {
    .about_area .about_details {
        padding: 80px 0px 0px
    }
}

.about_area .about_details h2 {
    font-size: 48px;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .about_area .about_details h2 {
        font-size: 30px
    }
}

.features-area {
    padding-bottom: 100px
}

@media (max-width: 991px) {
    .features-area {
        padding-bottom: 50px
    }
}

.feature-item {
    background: #ececec;
    padding: 40px;
    text-align: center;
    margin-bottom: 30px
}

.feature-item:hover {
    background: #5D38E0;
    padding: 40px;
    text-align: center;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.feature-item i {
    background: #ffffff;
    padding: 22px;
    margin-bottom: 35px;
    font-size: 56px;
    display: inline-block;
    color: #ff573d;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media (max-width: 767px) {
    .feature-item i {
        margin-bottom: 20px
    }
}

.feature-item h4 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.feature-item p {
    margin-bottom: 0px
}

.feature-item:hover p {
    color: #fff;
}

.feature-item:hover a {
    color: #fff;
}

.feature-item .primary-btn2 {
    margin-top: 40px
}

.feature-item:hover h4 {
    color: #ff573d
}

.our-process-area {
    background: #5D38E0;
    color: #fff;
    padding-bottom: 80px
}
h3.our-process{
    color:#fff;
}

@media (max-width: 991px) {
    .our-process-area {
        padding-bottom: 50px
    }
}


b,
sup,
sub,
u,
del {
    color: #ff573d
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1em
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #666
}

.button-area {
    background: #f9f9ff
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px
}

.button-group-area .genric-btn:last-child {
    margin-right: 0
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #15181d;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border:hover {
    color: #15181d;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #fff;
    background: #ff573d;
    border: 1px solid transparent
}

.genric-btn.primary:hover {
    color: #ff573d;
    border: 1px solid #ff573d;
    background: #fff
}

.genric-btn.primary-border {
    color: #ff573d;
    border: 1px solid #ff573d;
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #ff573d;
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.link {
    color: #15181d;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #15181d;
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.link-border {
    color: #15181d;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #15181d;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed
}


.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #fff;
    padding: 0 20px
}

.single-input:focus {
    outline: none
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #fff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #fff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #ff573d
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #fff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #fff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff573d;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.default-switch input:checked+label {
    left: 19px
}

.single-element-widget {
    margin-bottom: 30px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.primary-switch input:checked+label:after {
    left: 19px
}

.primary-switch input:checked+label:before {
    background: #ff573d
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.confirm-switch input:checked+label:after {
    left: 19px
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
    background: url(../img/elements/primary-check.png) no-repeat center center/cover;
    border: none
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
    background: url(../img/elements/success-check.png) no-repeat center center/cover;
    border: none
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-checkbox input:checked+label {
    background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
    background: url(../img/elements/success-radio.png) no-repeat center center/cover;
    border: none
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    cursor: pointer
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-radio input:checked+label {
    background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none
}

.default-select {
    height: 40px
}

.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff;
    padding-left: 20px;
    padding-right: 40px
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px
}

.default-select .nice-select .list .option.selected {
    color: #ff573d;
    background: transparent
}

.default-select .nice-select .list .option:hover {
    color: #ff573d;
    background: transparent
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300
}

.default-select .nice-select::after {
    right: 20px
}

@media (max-width: 991px) {
    .left-align-p p {
        margin-top: 20px
    }
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff !important;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #ff573d;
    background: transparent
}

.form-select .nice-select .list .option:hover {
    color: #ff573d;
    background: transparent
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.contact-info {
    margin-bottom: 12px
}

.contact-info__icon {
    margin-right: 20px
}

.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px
}

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0
}

.contact-info .media-body h3 a {
    color: #15181d
}

.contact-info .media-body p {
    color: #999999
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px
}

.form-contact label {
    color: #ff573d;
    font-size: 14px
}

.form-contact .form-group {
    margin-bottom: 30px
}

.form-contact .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none
}

.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999
}

.form-contact textarea {
    border-radius: 12px;
    height: 100% !important
}

.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .footer .footer_top {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #5D38E0;
  }
  
  @media (max-width: 767px) {
    .footer .footer_top {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .footer .footer_top {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .footer .footer_top {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .footer .footer_top .menu_links {
      margin-top: 15px;
    }
  }
  

  .footer .footer_top .menu_links ul li {
    display: inline-block;
    margin-right: 46px;
  }
  
  @media (max-width: 767px) {
    .footer .footer_top .menu_links ul li {
      margin-right: 10px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .footer .footer_top .menu_links ul li {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .footer .footer_top .menu_links ul li {
      margin-right: 30px;
    }
  }
  
  .footer .footer_top .menu_links ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  
  
  .footer .footer_top .menu_links ul li a:hover {
    color: orangered;
  }
  

  .footer .copy-right_text {
    padding-bottom: 25px;
    background: #5D38E0;
  }
  
  
  .footer .copy-right_text .footer_border {
    padding-bottom: 25px;
    border-top: 1px solid rgb(206, 206, 206);
  }
  

  .footer .copy-right_text .copy_right {
    font-size: 15px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  @media (max-width: 767px) {
    .footer .copy-right_text .copy_right {
      font-size: 13px;
    }
  }
  
  .footer .copy-right_text .copy_right a {
    color: #fff;
  }
  

  .footer .socail_links {
    text-align: right;
  }
  
  @media (max-width: 767px) {
    .footer .socail_links {
      text-align: left;
      margin-top: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .footer .socail_links {
      text-align: center;
      margin-top: 30px;
    }
  }
  
  .footer .socail_links ul li {
    display: inline-block;
  }
  

  .footer .socail_links ul li a {
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    background: transparent;
    line-height: 40px !important;
    margin-right: 7px;
    line-height: 40px !important;
    font-size: 26px;
  }
  
  .footer .socail_links ul li a:hover {
    color: orangered !important;
  }
  